.candidate {
  height: 100%;
}

.test-layout {
  height: calc(100% - 140px);
}

.count-down-clock {
  text-align: center;
  font-size: 2rem;
}

.candidate-question {
  padding: 1rem;
  margin-bottom: 1rem;
}

.candidate-question-title {
  color: red;
  font-weight: 500;
}

.test-action-bar-wrapper {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  padding: 0 2rem;
}

.test-action-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: calc(50% - 1rem);
}
