.test-layout {
  display: flex;
  padding: 1rem;
}

.transcript {
  width: 300px;
  margin-right: 1rem;
  box-sizing: border-box;
}

.question-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.question-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.question {
  flex-grow: 1;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
}

.question-box {
  display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20%;
	height: 45px;
	color: rgb(59, 59, 59);
	font-weight: 500;
	align-items: center;
	position: relative;
	font-size: 16px;
	border: 1px solid rgb(238, 238, 238);
	border-image: initial;
	text-decoration: none;
}

.question-box:hover {
  cursor: pointer;
}

.test-action-bar {
  display: flex;
  justify-content: space-between;
}

.options {
  margin-top: 1rem;
  /* display: flex; */
  /* justify-content: space-between;
  flex-wrap: wrap; */
  padding-left: 1rem;
}

.current-question {
  background-color: #dddd;
}
