.answer-group {
	margin: 1rem;
}

.answer-name {
	display: inline;
	margin-left: 1rem;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.answer-wrapper svg:hover {
	cursor: pointer;
}

.answer {
	flex-grow: 1;
}

.editor {
	flex-grow: 1;
}

.config {
	margin-bottom: 1rem;
}

.answerName {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	width: 35px;
	height: 35px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin-right: 16px;
	color: rgb(255, 255, 255);
	background-color: rgb(46, 204, 113);
	border-radius: 50%;
}

.optionName {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	color: rgb(59, 59, 59);
	text-transform: uppercase;
	width: 35px;
	height: 35px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin-right: 16px;
	background-color: rgb(238, 238, 238);
	border-radius: 50%;
}

.checkIcon:hover {
	color: rgb(46, 204, 113);
}

.removeIcon:hover {
	color: red;
}

.isAnswer {
	color: rgb(46, 204, 113);
}

.topic-question-title {
	display: flex;
	justify-content: space-between;
}

.question-wrapper {
		width: 70%;
		margin: 0 auto
}

.error {
	color: red;
	font-size: 0.8rem;
}
